<%= simple_form_for(movie) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :protagonist %>
    <%= f.input :synopsis %>
    <%= f.input :director %>
    <%= f.input :year %>      
  </div>

  <h3 class="text-xl mt-4">Clients</h3>
  <div class="my-2" data-controller="nested-rondo">
    <div data-nested-rondo-target="fieldContain">
      <%= f.simple_fields_for :clients do |f| %>
        <%= render "client_fields", f: f %>
      <% end %>
    </div>
    <div class="links">
      <%= link_to_add_association "Add Client", f , :clients, class: 'btn btn-info'  %>
    </div>
  </div> 
  <div class="form-actions mt-4">
    <%= f.button :submit , class: 'btn btn-success' %>
  </div>
<% end %>
