<div class="col">    
  <div id="<%= dom_id movie %>" class="card" >
    <img src="<%= image_path('movie.jpg')%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title"><%= movie.title %></h2>
      <p class="card-text"><strong>Synopsis:</strong><%= movie.synopsis %></p>
      <p class="card-text"><strong>Director:</strong><%= movie.director %></p>
      <p class="card-text"><strong>Year:</strong><%= movie.year %></p>
      <% movie.clients.each do |client|%>
        <p>client: <strong><%=client.name%></strong></p>
      <% end %>
      <%= link_to "Edit this movie", edit_movie_path(@movie), class:"btn btn-warning" %>
      <%= link_to "Back to movies", movies_path, class:"btn btn-info" %>
      <%= link_to "Destroy this movie", @movie, method: :delete, class:"btn btn-danger" %>
    </div>
  </div>
</div> 