<div class="col">    
  <div id="<%= dom_id movie %>" class="card" style="width: 18rem;">
    <img src="<%= image_path('movie.jpg')%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= movie.title %></h5>
      <p class="card-text"><strong>Synopsis:</strong><%= movie.synopsis %></p>
      <p class="card-text"><strong>Director:</strong><%= movie.director %></p>
      <p class="card-text"><strong>Year:</strong><%= movie.year %></p>
      <p class="card-text"><strong>Clientes:</strong><%= movie.clients.count %></p>
      <%= link_to "Show", movie, class: "btn btn-info" %>
      <%= link_to "Edit", edit_movie_path(movie), class: "btn btn-warning" %>
    </div>
  </div>
</div> 