<%= simple_form_for(client) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.association :movie %>
    <% if not client.movie.nil? %>
      <span>Movie rented!</span>
    <% end %>
    <div class="form-actions mt-4">
    <%= f.button :submit , class: 'btn btn-primary' %>
  </div>
<% end %>      
